#user_profile{
    display: flex;
    flex-flow: column;
    padding: 10px 30%;
    background-color: #9f9;
    height:120%;
}

#user_profile > div {
    background-color: #494;
    width: 100%;
    font-size:  20px;
    font-weight: bold;
    color:black;
    margin: 10px 0px;
    border-radius: 5px;
}

#user_profile > div > input{
    font-family: inherit;
    background-color: #fff;
    font-size:  14px;
    font-weight: bold;
    color:black;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    text-align: start;
}

#user_profile > div > textarea{
    font-family: inherit;
    background-color: #fff;
    font-size:  14px;
    font-weight: bold;
    color:black;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    text-align: start;
}

#user_profile > div > p{
    font-size:  20px;
    font-weight: bold;
    color:black;
    margin: 5px 0px 0px 0px;
}

#alter_user{
    border: solid 2px #2f2;
    border-radius: 10px !important;
    background-color: #070 !important;
    color: #111 !important;
}

#alter_user:hover{
    border-color: #060;
    background-color: #2d2 !important;
}