.header-navbar{
	font-family: sans-serif;
	background-color: #940;
	height: 80px;
	width: 100%;
}

.logo{
	color:#fff;
	font-size: 45px;
	line-height: 80px;
	padding:0 20px;
	font-weight: bold;
}

.header-navbar ul{
	height:100%;
	float:right;
	padding:10px 20px;
}

.header-navbar ul li{
	height:84px;
	margin: 10px 5px ;
	display:block;
	border: 10px solid #171;
	border-radius:10px;
	background-color: #171;
}

.header-navbar ul li a{
	height: 100%;
	display: flex;
	justify-content: start;
	color: #fff;
	font-size: 20px;
	padding: 7px 13px;
	text-transform: uppercase;
	font-weight: bolder;
	background-color: #2a2;
	border-radius: 10px;
}

.header-navbar ul li a > *{
	display: block;
	margin:0px 5px;
}

.header-navbar a:active, .header-navbar a:hover{
	background-color: #171;
	border-radius: 10px;
	transition: 0.5s;
	color:#3d1;
}

.header-navbar li:hover{
	border-color:#3d1;
	background-color: #3d1;
	transition: 0.5s;
}

.checkbtn{
	font-size: 30px;
	color:#fff;
	float:left;
	line-height: 80px;
	margin-left: 20px;
	cursor:pointer;
	display:block;
}

#check{
	display: none;
}

.fa-tree{
	color:#2b2;
}


#nav_bar{
	position:fixed;
	min-width: 225px;
	max-width: 420px;
	height: 100%;
	background-color :#620;
	top:80px;
	left:-100%;
	text-align: center;
	transition:all .5s;
}

#check:checked ~ #nav_bar{
	left: 0;
}

#logo{
	height:100%;
	border-radius:10px;
	background-color: #171;
	margin:calc(50% - 155px);
}

.logo{
	border-radius:10px;
	border: 2px solid #3d1;
	background-color: #171;
	padding-top:5px;
	padding-bottom: 5px;
}

#icon_user{
	border: solid;
	border-radius: 10px;
}

#icon_tree{
	color:#fff
}

.li_fa{
	font-size: 45px; /**/
	text-align: center;
	color: #fff;
}

.li_text{
	line-height: 50px;
}


